<h1>Autorizaciones</h1>

<% @last_auths = Authorization.
        where(status: :accepted).or(Authorization.where(status: :declined)).
        where('processed_time > ?', Time.now - 30.days) %>

<% @accepted_by_day = @last_auths.where(status: :accepted).group("DATE_FORMAT(processed_time, '%b %e')").count %>
<% @declined_by_day = @last_auths.where(status: :declined).group("DATE_FORMAT(processed_time, '%b %e')").count %>

<% @automatic_count = @last_auths.where(automated: true).count %>
<% @manual_count = @last_auths.where(automated: false).count %>
<% @automatic_pct = 1.0 * @automatic_count / @last_auths.count %>
<% @manual_pct = 1.0 * @manual_count / @last_auths.count %>


<div style="width: 100%">

  <% @x_domain = 30.downto(0).collect { |i| (Time.now - i.days).strftime('%b %e') } %>
  <% counter = 0 %>
  <% @accepted_data = Hash[@x_domain.collect.with_index { |day, i| 
        counter += @accepted_by_day[day] || 0
        [day, counter] 
  }] %>
  <% counter = 0 %>
  <% @declined_data = Hash[@x_domain.collect.with_index { |day, i| 
        counter += @declined_by_day[day] || 0
        [day, counter] 
  }] %>

  <div class="horizontal_child" style="width: 75%">
    <%= line_chart [{name: "Aceptadas", data: @accepted_data}, {name: "Rechazadas", data: @declined_data}], curve: false %>
  </div>

  <div class="horizontal_child", style="padding: 0 0 0 24px">
    <table style="width:1%">
      <tr>
        <th>Automáticas</th>
        <td><%= @automatic_count %></td>
        <td><%= @automatic_pct.nan? ? 0 : (@automatic_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Manuales</th>
        <td><%= @manual_count %></td>
        <td><%= @manual_pct.nan? ? 0 : (@manual_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Totales</th>
        <td><%= @last_auths.count %></td>
      </tr>
    </table>
  </div>

</div>
