<h1>Autorizaciones</h1>

<% @last_auths = Authorization.select("DATE_FORMAT(updated_at, '%b %e')").where('updated_at > ?', Time.now - 30.days) %>
<% @accepted_by_day = @last_auths.where(status: :accepted).group("DATE_FORMAT(updated_at, '%b %e')").count %>
<% @declined_by_day = @last_auths.where(status: :declined).group("DATE_FORMAT(updated_at, '%b %e')").count %>

<% @automatic_count = 304 %>
<% @automatic_pct = 0.3 %>
<% @manual_count = 699 %>
<% @manual_pct = 0.7 %>


<div style="width: 100%">

  <div class="horizontal_child" style="width: 75%">
    <%= line_chart [{name: "Aceptadas", data: @accepted_by_day}, {name: "Rechazadas", data: @declined_by_day}] %>
  </div>

  <div class="horizontal_child", style="padding: 0 0 0 24px">
    <table style="width:1%">
      <tr>
        <th>Automáticas</th>
        <td><%= @automatic_count %></td>
        <td><%= (@automatic_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Manuales</th>
        <td><%= @manual_count %></td>
        <td><%= (@manual_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Totales</th>
        <td><%= @automatic_count + @manual_count %></td>
      </tr>
    </table>
  </div>

</div>
