<h1>Autorizaciones</h1>

<% @last_auths = Authorization.where(status: :accepted).or(Authorization.where(status: :declined)).where('updated_at > ?', Time.now - 30.days) %>
<% @accepted_by_day = @last_auths.where(status: :accepted).group("DATE_FORMAT(updated_at, '%b %e')").count %>
<% @declined_by_day = @last_auths.where(status: :declined).group("DATE_FORMAT(updated_at, '%b %e')").count %>

<% @automatic_count = @last_auths.where(automated: true).count %>
<% @manual_count = @last_auths.where(automated: false).count %>
<% @automatic_pct = 1.0 * @automatic_count / @last_auths.count %>
<% @manual_pct = 1.0 * @manual_count / @last_auths.count %>


<div style="width: 100%">

  <div class="horizontal_child" style="width: 75%">
    <%= line_chart [{name: "Aceptadas", data: @accepted_by_day}, {name: "Rechazadas", data: @declined_by_day}] %>
  </div>

  <div class="horizontal_child", style="padding: 0 0 0 24px">
    <table style="width:1%">
      <tr>
        <th>Automáticas</th>
        <td><%= @automatic_count %></td>
        <td><%= @automatic_pct.nan? ? 0 : (@automatic_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Manuales</th>
        <td><%= @manual_count %></td>
        <td><%= @manual_pct.nan? ? 0 : (@manual_pct * 100).to_i %>%</td>
      </tr>
      <tr>
        <th>Totales</th>
        <td><%= @last_auths.count %></td>
      </tr>
    </table>
  </div>

</div>
