<p/>

<h1 class="dashboard">Afiliados por plan</h1>

<% @users_count = User.joins(:medical_plan).group('medical_plans.number').count %>
<% @plans =  Hash[MedicalPlan.all.collect { |mp| [mp.number, @users_count[mp.number] || 0] }] %>

<div class="dashboard">
    <div class="horizontal_child" style="width: 50%"><%= pie_chart @plans %></div>

    <div class="horizontal_child">
        <table style="width: 1%">
            <tr>
                <th class="horizontal">Plan</th>
                <th class="horizontal">Totales</th>
                <th class="horizontal">Porcentaje</th>
                <th class="horizontal">Registrados</th>
            </tr>
            <% @plans.each do |number, amount| %>
            <tr>
                <td><%= number %></td>
                <td><%= amount %></td>
                <td><%= (100.0 * amount / @plans.values.sum).to_i %>%</td>
                <td><%= User.joins(:medical_plan).where("users.email <> ''").where('medical_plans.number = ?', number).count %></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
