<p/>

<h1>Afiliados por plan</h1>

<% @plans =  User.joins(:medical_plan).group('medical_plans.number').count %>

<div style="width: 100%">
    <div class="horizontal_child" style="width: 50%"><%= pie_chart @plans %></div>

    <div class="horizontal_child">
        <table style="width: 1%">
            <tr>
                <th>Plan</th>
                <th>Totales</th>
                <th>Porcentaje</th>
                <th>Registrados</th>
            </tr>
            <% @plans.each do |number, amount| %>
            <tr>
                <td><%= number %></td>
                <td><%= amount %></td>
                <td><%= (100.0 * amount / @plans.values.sum).to_i %>%</td>
                <td><%= User.joins(:medical_plan).where("users.email <> ''").where('medical_plans.number = ?', number).count %></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
